<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Pentagrama_CoreCustomizations>
			<version>0.0.1</version>
		</Pentagrama_CoreCustomizations>
	</modules>
	<global>
		<blocks>
			<corecustomizations>
				<class>Pentagrama_CoreCustomizations_Block</class>
			</corecustomizations>
			<catalog>
				<rewrite>
					<product_list>Pentagrama_CoreCustomizations_Block_Catalog_Product_List</product_list>
				</rewrite>
			</catalog>
			<checkout>
				<rewrite>
					<cart_totals>Pentagrama_CoreCustomizations_Block_Checkout_Cart_Totals</cart_totals>
				</rewrite>
			</checkout>
			<customer>
				<rewrite>
					<account_navigation>Pentagrama_CoreCustomizations_Block_Customer_Account_Navigation</account_navigation>
				</rewrite>
			</customer>
			<page>
				<rewrite>
					<html_header>Pentagrama_CoreCustomizations_Block_Page_Html_Header</html_header>
				</rewrite>
			</page>
		</blocks>
		<helpers>
			<corecustomizations>
				<class>Pentagrama_CoreCustomizations_Helper</class>
			</corecustomizations>
		</helpers>
        <models>
			<corecustomizations>
				<class>Pentagrama_CoreCustomizations_Model</class>
			</corecustomizations>
		</models>
		<resources>
			<pentagrama_corecustomizations_setup>
				<setup>
					<module>Pentagrama_CoreCustomizations</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pentagrama_corecustomizations_setup>
			<pentagrama_corecustomizations_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pentagrama_corecustomizations_write>
			<pentagrama_corecustomizations_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pentagrama_corecustomizations_read>
		</resources>
		<page>
			<layouts>
				<home_page module="page" translate="label">
					<label>Home</label>
					<template>page/home.phtml</template>
					<layout_handle>page_home_page</layout_handle>
					<is_default>1</is_default>
				</home_page>
			</layouts>
		</page>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Pentagrama_CoreCustomizations>
					<files>
						<default>Pentagrama_CoreCustomizations.csv</default>
					</files>
				</Pentagrama_CoreCustomizations>
			</modules>
		</translate>
	</adminhtml>
</config>