### Magento ###
var/*/*
/media
/dev/tests/functional/generated
/dev/tests/functional/vendor
downloader/.cache/
app/etc/local.xml
resource_config.json
.http_cache.json
category_sitemap.xml
cms_sitemap.xml
products_sitemap.xml
downloader/cache.cfg
downloader/connect.cfg
var/brute-force.ini
skin/frontend/belmicro/default/package-lock.json
vendor
app/code/community/ZealousWeb/WhatsApp
app/code/community/Bassi/Imageslider
app/code/community/Inchoo/AdminTheme
app/code/community/Widgento/Core
app/code/community/Widgento/Login
app/code/community/Ikonoshirt/StrictTransportSecurity
app/code/community/Chapagain/GoogleTagManager
app/code/community/EcomDev/ProductPageShipping
app/code/community/Ameex/Adminlog
app/code/community/Belvg/All
app/code/community/Belvg/Facebook
app/code/community/Defcon2/Imaclean
app/code/community/Optimiseweb/MobileDetect
app/code/community/Aoe/Scheduler
app/code/community/Inviqa/ContentSecurityPolicy
app/code/community/Diglin/UIOptimization
app/code/community/JeroenVermeulen/Solarium
app/code/community/Studioforty9/Recaptcha
app/code/community/Inovarti/Onestepcheckout
app/code/local/Pentagrama/Monitor
app/code/local/Pentagrama/Translate
app/code/local/Pentagrama/Versioning
app/code/local/Pentagrama/Snippets
app/code/local/Pentagrama/ReindexCleanCache
app/code/local/Pentagrama/InstagramMosaic
app/code/local/Pentagrama/AutoCompleteAddress
app/code/local/Pentagrama/CleanTables
app/code/local/Pentagrama/ModalGallery
app/code/local/Pentagrama/CookiesWarning
app/code/local/Aschroder/SMTPPro
app/locale/de_DE/Widgento_Login.csv
app/locale/en_US/Aschroder_SMTPPro.csv
app/locale/en_US/Widgento_Login.csv
app/locale/en_US/EcomDev_ProductPageShipping.csv
app/locale/en_US/Studioforty9_Recaptcha.csv
app/locale/en_US/Inovarti_Onestepcheckout.csv
app/locale/en_US/Bassi_Imageslider.csv
app/locale/en_US/template/email/aoe_scheduler/cron_error.html
app/locale/pt_BR/Mage_Backup.csv
app/locale/pt_BR/Mage_GoogleBase.csv
app/locale/pt_BR/Optimiseweb_MobileDetect.csv
app/locale/pt_BR/Mage_Review.csv
app/locale/pt_BR/Mage_Install.csv
app/locale/pt_BR/Phoenix_Moneybookers.csv
app/locale/pt_BR/Aschroder_SMTPPro.csv
app/locale/pt_BR/Pentagrama_Monitor.csv
app/locale/pt_BR/Mage_Checkout.csv
app/locale/pt_BR/Mage_Page.csv
app/locale/pt_BR/Mage_Contacts.csv
app/locale/pt_BR/Mage_Reports.csv
app/locale/pt_BR/Mage_Eav.csv
app/locale/pt_BR/Mage_Authorizenet.csv
app/locale/pt_BR/Mage_XmlConnect.csv
app/locale/pt_BR/Mage_Compiler.csv
app/locale/pt_BR/Pentagrama_ModalGallery.csv
app/locale/pt_BR/Mage_Widget.csv
app/locale/pt_BR/Widgento_Login.csv
app/locale/pt_BR/Mage_Rating.csv
app/locale/pt_BR/Mage_Persistent.csv
app/locale/pt_BR/Mage_Captcha.csv
app/locale/pt_BR/EcomDev_ProductPageShipping.csv
app/locale/pt_BR/Mage_GoogleAnalytics.csv
app/locale/pt_BR/JeroenVermeulen_Solarium.csv
app/locale/pt_BR/Mage_CatalogInventory.csv
app/locale/pt_BR/Mage_Index.csv
app/locale/pt_BR/Mage_ConfigurableSwatches.csv
app/locale/pt_BR/Mage_Rss.csv
app/locale/pt_BR/Mage_PaypalUk.csv
app/locale/pt_BR/Mage_Downloadable.csv
app/locale/pt_BR/Mage_Weee.csv
app/locale/pt_BR/Mage_Newsletter.csv
app/locale/pt_BR/Mage_GiftMessage.csv
app/locale/pt_BR/Mage_Poll.csv
app/locale/pt_BR/Mage_Catalog.csv
app/locale/pt_BR/Mage_Dataflow.csv
app/locale/pt_BR/Mage_CurrencySymbol.csv
app/locale/pt_BR/Mage_Payment.csv
app/locale/pt_BR/Pentagrama_CookiesWarning.csv
app/locale/pt_BR/Mage_Core.csv
app/locale/pt_BR/Mage_Bundle.csv
app/locale/pt_BR/Mage_Api2.csv
app/locale/pt_BR/Pentagrama_ReindexCleanCache.csv
app/locale/pt_BR/Mage_Sitemap.csv
app/locale/pt_BR/Mage_Paygate.csv
app/locale/pt_BR/Mage_ProductAlert.csv
app/locale/pt_BR/Belvg_Facebook.csv
app/locale/pt_BR/Mage_Cms.csv
app/locale/pt_BR/Mage_Sales.csv
app/locale/pt_BR/Mage_Tax.csv
app/locale/pt_BR/Mage_Centinel.csv
app/locale/pt_BR/Mage_Customer.csv
app/locale/pt_BR/Mage_Usa.csv
app/locale/pt_BR/Mage_Wishlist.csv
app/locale/pt_BR/Mage_Oauth.csv
app/locale/pt_BR/Aoe_Scheduler.csv
app/locale/pt_BR/Pentagrama_InstagramMosaic.csv
app/locale/pt_BR/Mage_Api.csv
app/locale/pt_BR/Mage_Tag.csv
app/locale/pt_BR/Studioforty9_Recaptcha.csv
app/locale/pt_BR/Mage_Rule.csv
app/locale/pt_BR/Mage_Shipping.csv
app/locale/pt_BR/Mage_Paypal.csv
app/locale/pt_BR/Mage_Sendfriend.csv
app/locale/pt_BR/Mage_SalesRule.csv
app/locale/pt_BR/Mage_Directory.csv
app/locale/pt_BR/Pentagrama_AutoCompleteAddress.csv
app/locale/pt_BR/Mage_PageCache.csv
app/locale/pt_BR/Mage_CatalogRule.csv
app/locale/pt_BR/Inovarti_Onestepcheckout.csv
app/locale/pt_BR/Mage_AdminNotification.csv
app/locale/pt_BR/Mage_Media.csv
app/locale/pt_BR/Pentagrama_CleanTables.csv
app/locale/pt_BR/Mage_Connect.csv
app/locale/pt_BR/Pentagrama_Snippets.csv
app/locale/pt_BR/Mage_Log.csv
app/locale/pt_BR/Bassi_Imageslider.csv
app/locale/pt_BR/Mage_ImportExport.csv
app/locale/pt_BR/Mage_Cron.csv
app/locale/pt_BR/Mage_Adminhtml.csv
app/locale/pt_BR/Mage_AmazonPayments.csv
app/locale/pt_BR/Mage_CatalogSearch.csv
app/locale/pt_BR/Mage_GoogleCheckout.csv
app/design/adminhtml/base/default/layout/jeroenvermeulen/solarium.xml
app/design/adminhtml/default/default/layout/aoe_scheduler
app/design/adminhtml/default/default/layout/imageslider.xml
app/design/adminhtml/default/default/layout/widgentologin.xml
app/design/adminhtml/default/default/layout/reindexcleancache.xml
app/design/adminhtml/default/default/template/aoe_scheduler
app/design/adminhtml/default/default/template/smtppro
app/design/frontend/base/default/layout/whatsapp.xml
app/design/frontend/base/default/layout/uioptimization.xml
app/design/frontend/base/default/layout/onestepcheckout.xml
app/design/frontend/base/default/layout/belvg/facebook.xml
app/design/frontend/base/default/layout/pentagrama/instagram_mosaic.xml
app/design/frontend/base/default/layout/pentagrama/modal_gallery.xml
app/design/frontend/base/default/layout/pentagrama/cookieswarning.xml
app/design/frontend/base/default/layout/pentagrama/snippets.xml
app/design/frontend/base/default/layout/pentagrama/auto_complete_address.xml
app/design/frontend/base/default/layout/ecomdev/productpageshipping.xml
app/design/frontend/base/default/layout/studioforty9_recaptcha.xml
app/design/frontend/base/default/layout/chapagain/googletagmanager.xml
app/design/frontend/base/default/layout/jeroenvermeulen/solarium.xml
app/design/frontend/base/default/template/onestepcheckout
app/design/frontend/base/default/template/uioptimization
app/design/frontend/base/default/template/studioforty9
app/design/frontend/base/default/template/belvg/facebook
app/design/frontend/base/default/template/pentagrama/auto_complete_address/initialization.phtml
app/design/frontend/base/default/template/pentagrama/modal-gallery
app/design/frontend/base/default/template/pentagrama/cookieswarning
app/design/frontend/base/default/template/pentagrama/richsnippets
app/design/frontend/base/default/template/pentagrama/instagram_mosaic
app/design/frontend/base/default/template/ecomdev/productpageshipping
app/design/frontend/base/default/template/chapagain/googletagmanager
app/design/frontend/base/default/template/whatsapp
app/design/frontend/base/default/template/imageslider
app/design/frontend/rwd/default/template/onestepcheckout
app/etc/modules/Inviqa_ContentSecurityPolicy.xml
app/etc/modules/Pentagrama_Translate.xml
app/etc/modules/Pentagrama_InstagramMosaic.xml
app/etc/modules/Pentagrama_ModalGallery.xml
app/etc/modules/Aoe_Scheduler.xml
app/etc/modules/Belvg_Facebook.xml
app/etc/modules/Pentagrama_AutoCompleteAddress.xml
app/etc/modules/ZealousWeb_WhatsApp.xml
app/etc/modules/Ikonoshirt_StrictTransportSecurity.xml
app/etc/modules/Ameex_Adminlog.xml
app/etc/modules/Optimiseweb_MobileDetect.xml
app/etc/modules/Inchoo_AdminTheme.xml
app/etc/modules/Pentagrama_CleanTables.xml
app/etc/modules/Widgento_Login.xml
app/etc/modules/Aschroder_SMTPPro.xml
app/etc/modules/Chapagain_GoogleTagManager.xml
app/etc/modules/Inovarti_Onestepcheckout.xml
app/etc/modules/Widgento_Core.xml
app/etc/modules/Bassi_Imageslider.xml
app/etc/modules/Studioforty9_Recaptcha.xml
app/etc/modules/Pentagrama_Snippets.xml
app/etc/modules/EcomDev_ProductPageShipping.xml
app/etc/modules/Diglin_UIOptimization.xml
app/etc/modules/Pentagrama_Versioning.xml
app/etc/modules/Pentagrama_CookiesWarning.xml
app/etc/modules/Pentagrama_Monitor.xml
app/etc/modules/Belvg_All.xml
app/etc/modules/Defcon2_Imaclean.xml
app/etc/modules/JeroenVermeulen_Solarium.xml
app/etc/modules/Pentagrama_ReindexCleanCache.xml
js/bassi/imageslider
js/solarium
js/pentagrama/auto_complete_address.js
js/whatsapp
lib/Symfony
lib/Diglin
lib/Solarium
scheduler_cron.sh
shell/widgento_uninstall.php
shell/scheduler.php
skin/adminhtml/default/default/aoe_scheduler
skin/adminhtml/default/default/images/jeroenvermeulen/solarium
skin/adminhtml/default/default/css/jeroenvermeulen/solarium.css
skin/frontend/base/default/onestepcheckout
skin/frontend/base/default/js/pentagrama/cookieswarning.js
skin/frontend/base/default/pentagrama/modal_gallery
skin/frontend/base/default/images/belvg/fb.share.png
skin/frontend/base/default/images/belvg/fb.gif
skin/frontend/base/default/css/bassi/imageslider
skin/frontend/base/default/css/solarium
skin/frontend/base/default/css/pentagrama/instagram_mosaic.css
skin/frontend/base/default/css/pentagrama/cookieswarning.css
skin/frontend/base/default/css/ecomdev/productpageshipping.css
skin/frontend/base/default/css/w3c-validator.css
skin/frontend/base/default/css/facebook
skin/frontend/rwd/default/onestepcheckout
app/code/local/Pentagrama/Pagarme
app/design/adminhtml/default/default/layout/pagarme.xml
app/design/adminhtml/default/default/template/pagarme
app/design/frontend/base/default/layout/pagarme.xml
app/design/frontend/base/default/template/pagarme
app/etc/modules/Pentagrama_Pagarme.xml
app/locale/pt_BR/Pentagrama_Pagarme.csv
app/locale/pt_BR/template/email/cancel_order_pagarme.html
js/pagarme
lib/pagarme
skin/adminhtml/default/default/pagarme
skin/frontend/base/default/pagarme
app/code/local/Pentagrama/HomeList
app/design/frontend/base/default/template/catalog/product/home_list.phtml
app/etc/modules/Pentagrama_HomeList.xml
app/code/community/Frenet/Shipping
app/design/frontend/base/default/layout/frenet
app/design/frontend/base/default/template/frenet
app/etc/modules/Frenet_Shipping.xml
app/locale/pt_BR/Frenet
skin/frontend/base/default/css/frenet
skin/frontend/base/default/js/frenet
app/design/adminhtml/default/default/layout/studioforty9_recaptcha.xml
app/design/adminhtml/default/default/template/studioforty9/recaptcha
app/code/local/Pentagrama/GoogleAnalytics4
app/design/frontend/base/default/layout/pentagrama/google_analytics4.xml
app/design/frontend/base/default/template/pentagrama/google_analytics4
app/etc/modules/Pentagrama_GoogleAnalytics4.xml
app/locale/pt_BR/Pentagrama_GoogleAnalytics4.csv
app/code/community/Nortoneo/TwoFactorAuth
app/design/adminhtml/default/default/layout/nortoneo/twofactorauth.xml
app/design/adminhtml/default/default/template/nortoneo/twofactorauth
app/etc/modules/Nortoneo_TwoFactorAuth.xml
app/locale/en_US/nortoneo
app/locale/en_US/template/email/nortoneo/twofactorauth
app/design/frontend/base/default/layout/bassi
app/code/community/Cm/Cache/Backend/Redis.php
app/code/community/Cm/RedisSession
lib/Credis
pub/default/.htaccess
pub/default/errors
pub/default/js
pub/default/skin
pub/default/media
app/etc/modules/Cm_RedisSession.xml
skin/frontend/base/default/js/whatsapp/whatsapp-button.js
